<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body>
    <h1><%= status%> 에러</h1>
    <h3><%= method%><%= url%> 라우터가 존재하지 않습니다.</h3>
</body>
</html>